.key-form {
  .private-key-accordion {
    padding-bottom: 1rem;
  }
  .submit-form-btn {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: right;
  }
  .error-message {
    color: red;
  }
}
