body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  .full-height-component {
    height: calc(100% - 64px);
    overflow: hidden;
  }
  .error-message {
    color: red;
    margin: 0;
    padding-bottom: 1rem;
  }
  .app-wrapper {
    min-height: 100vh;
  }
  .snackbar-box {
    padding: 0.5em 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #fff;
    svg {
      margin-right: 0.5rem;
    }
    &.error {
      background-color: #f44336;
    }
    &.warning {
      background-color: #ff9800;
    }
    &.success {
      background-color: #4caf50;
    }
  }
}
