www.{$DOMAIN_NAME} {
    redir https://{$DOMAIN_NAME}
}

{$DOMAIN_NAME} {
    reverse_proxy django:5000
    log {
        output stdout
        format single_field common_log
        level INFO
    }
    encode gzip
}
